<html>
    <head>
        <title>Gordian Knot yo!</title>
        <meta charset="utf-8">
    </head>
    <body>
        {{ session['data'] }}
        <ul>
            {% for res in context %}
                <li>{{ res.student }}  {{ res.house }}</li>
            {% endfor %}
        </ul>
        <div>
            <h4>ThunderBird</h4>
            <ul>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
            </ul>
        </div>
        <div>
            <h4>Wampus</h4>
            <ul>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
            </ul>
        </div>
        <div>
            <h4>Horned Serpent</h4>
            <ul>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
            </ul>
        </div>
        <div>
            <h4>Pukwudgie</h4>
            <ul>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
                <li>Bob Ross</li>
            </ul>
        </div>  
    </body>
</html>